.editorTabs {
    margin-top: 0.8rem;
    width: 100%;
    .ant-tabs-nav {
        background-color: white;
        margin: 0;
        outline: none;
    }
    .ant-tabs-nav-add {
        background-color: #fff !important;
        border: 1px solid #e5e5e5 !important;
    }
}